* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

body {
    background-color: #eee;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #fff;
}

#menu ul {

}

#menu ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}

#menu ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #1e1e1e;
    padding: 0 20px
}

#header img {
    float: left;
    height: 100px;
}


.container {
    display: inline-grid;
    grid-template-columns: 20% 60% 20%;
    width: 95%;
    margin: 20px auto;
    border: #1e1e1e;
}

#content-block-1 img {
    width: 100%;
    height: auto;
}

#content-block-2 {
    height: 100%;
    max-height: 420px;
    width: 100%;
    border: 1px solid #ccc;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
}

#content-block-3 {
    width: 100%;
}

#content-block-3 img {
    width: 100%;
}

#content-block-6 ul li {
    width: 0%;
}



.container div {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

.container div:nth-child(odd) {
    background-color: #eee;
}

#myButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#hideButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#footer {
    background-color: white;
    height: 25px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

#footer-content {
    font-size: 14px;
    color: #1e1e1e;
    text-align: center;
    line-height: 25px;
}